<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
   <link href="Event/Public/css/bootstrap.min.css" rel="stylesheet">
   <script src="js/jquery.min.js"></script>
   <script src="js/bootstrap.min.js"></script>
<style type="text/css">




</style>
</head>


<body id="bg" style =" background-color: #efefef;">
<div class="container">

   <h1>RuiWenge's &nbsp;Blog</h1>

   <div class="row">
     
        <div class="col-md-2" >
         
      </div>
      <div class="col-md-8" >
	 <center> 
	 <img src="123.gif" 
   class="img-circle"></center>
   </br>
         <nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="#">= =</a>
   </div>
   <div>
   
      <ul class="nav navbar-nav">
         <li class="active"><a href="#">PHP</a></li>
         <li><a href="#">Mysql</a></li>
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               Java 
               <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
               <li><a href="#">jmeter</a></li>
               <li><a href="#">EJB</a></li>
               <li><a href="#">Jasper Report</a></li>
               <li class="divider"></li>
               <li><a href="#">分离的链接</a></li>
               <li class="divider"></li>
               <li><a href="#">另一个分离的链接</a></li>
            </ul>
         </li>
      </ul>
   </div>
</nav>

  <div class="m-post" STYLE="padding: 40px 40px 35px;
  margin: 40px 0 0;
  background: #fff;">
	<h3 class="title"> <a href="">再造 “手机QQ” 侧滑菜单（一）——实现侧滑效果</a></h3>
		<div class="info box">
		<a class="date" href="">2015-4-11</a>
	</div>
</div>
  <div class="m-post" STYLE="padding: 40px 40px 35px;
  margin: 40px 0 0;
  background: #fff;">
	<h3 class="title"> <a href="">再造 “手机QQ” 侧滑菜单（一）——实现侧滑效果</a></h3>
		<div class="info box">
		<a class="date" href="">2015-4-11</a>
	</div>
</div>
  <div class="m-post" STYLE="padding: 40px 40px 35px;
  margin: 40px 0 0;
  background: #fff;">
	<h3 class="title"> <a href="">再造 “手机QQ” 侧滑菜单（一）——实现侧滑效果</a></h3>
		<div class="info box">
		<a class="date" href="">2015-4-11</a>
	</div>
</div>

<center>
<ul class="pagination pagination-sm">
 <li><a href="#">&laquo;</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>
</center>
      </div>
	  
	  
	

	  <div class="col-md-2">
        
      </div>
   </div>


</div>

</body>
</html>